.container {
    background-color: $wow-color;
    color: $white-color;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    &:hover {
        background-color: #1e7397;
        transition: background-color 0.5s;
    }
}
