


.background-color__one-types {
    height: 568px;
    width: 100%;
    background-color: #CEB3CB;
}

.one-types__titles {
    position: relative;
}

.one-types__text-title#email {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 100px;
}



