///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;
$wow-color: #2093c4;
$orange-color: #e18f15;
$white-color: #fff;
$font-size-header: 25px;
$font-size-footer: 25px;