<div class="banner-template-second">
    <div class="banner-template__container img-z-index">
        <div class="img-box">
            <img class="img-fluid" src="assets/img/banner-template-3.png" alt="banner-template">
        </div>

        <div class="info-container">
            <div class="info-container__uppertitle">
                new
            </div>
            <div class="info-container__title">Spring Cushion Collection 2019</div>
            <a href="#" class="info-container__link">buy now</a>
        </div>
    </div>
</div>