<div class="banner-template-second">
    <div class="banner-template__container reverse">
        <div class="img-box">
            <img class="img-fluid" src="assets/img/banner-template-2.png" alt="banner-template">
        </div>

        <div class="info-container">
            <div class="info-container__uppertitle">
                about me
            </div>
            <div class="info-container__title">I'm a trendy Cushion Designer</div>
            <a href="#" class="info-container__link">learn more</a>
        </div>
    </div>
</div>