
    <div class="learn-more__container">
        <div class="container-more">
            <div class="cointainer-more__item">
                <img class="container-picture" src="assets/img/girl.png" alt="Girl">
            </div>
            <div class="container-content">
                <h1 class="container-title">About me</h1>
                <h2><a class="container-link">Learn more</a></h2>
            </div>
        </div>

        <div class="container-more">
            <div class="container-more__item">
                <img class="container-picture" src="assets/img/my-products.png" alt="Products">
            </div>
            <div class="container-content">
                <h1 class="container-title">My products</h1>
                <h2><a class="container-link">Learn more</a></h2>
            </div>
        </div>

        <div class="container-more">
            <div class="container-more__item">
                <img class="container-picture" src="assets/img/contact-me.png" alt="Contacts">
            </div>
            <div class="container-content">
                <h1 class="container-title">Contact me</h1>
                <h2><a class="container-link">Learn more</a></h2>
            </div>
        </div>
    </div>
</section>