



        <div class="two-footer">
            <div class="two-footer__container">
                <div class="container d-flex">
                    <div class="row-item">
                        <div class="two-footer__img rotate">
                            <img src="assets/img/Safe.png" alt="Safe">
                        </div>
                        <h1 class="two-footer__title">Safe shopping</h1>
                        <p class="two-footer__description">Buy with confidence</p>
                    </div>
                    <div class="row-item">
                        <div class="two-footer__img rotate">
                            <img src="assets/img/fast.png" alt="Fast">
                        </div>
                        <h1 class="two-footer__title">Fast shipping</h1>
                        <p class="two-footer__description">Get your product fast</p>
                    </div>
                    <div class="row-item" id="row-item2">
                        <div class="two-footer__img rotate">
                            <img src="assets/img/satisfaction.png" alt="Satisfaction">
                        </div>
                        <h1 class="two-footer__title">Satisfaction guarantee</h1>
                        <p class="two-footer__description">Or get your money back</p>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>