<div class="forms-one" id="form-1">
    <div class="container forms-one__container">
      <div class="row">
        <div class="col-12 col-lg-5">
          <h1 class="forms-one-title">email</h1>
          <p class="forms-one-description">support@website.com</p>
          
          <h2 class="forms-one-title">phone</h1>
          <p class="forms-one-description">800-123-456</p>
          
          <h2 class="forms-one-title">address</h1>
          <p class="forms-one-description">23 Evergreen Street,
            <br>San Francisco, California
            <br>USA</p>
          </div>
          <div class="col-12 col-lg-7">
            <h1 class="forms-one-title">address</h1>
            <p class="forms-one-description">Drop us your message and I'll get back to you as soon as possible.</p>
            
            <form action="#" method="GET">
              <div class="row mb-4">
                <div class="col-12 col-lg-6">
                  <input type="text" class="forms-one__input" name="feedback_username" placeholder="your name">
                </div>
                <div class="col-12 col-lg-6">
                  <input type="text" class="forms-one__input" name="feedback_company" placeholder="your company">
                </div>
            </div>
            <div class="row mb-4">
              <div class="col-12 col-lg-6">
                <input type="tel" class="forms-one__input" name="feedback_phone" placeholder="your phone">
              </div>
              <div class="col-12 col-lg-6">
                <input type="email" class="forms-one__input" name="feedback_email" placeholder="your email">
              </div>
            </div>
            <textarea class="forms-one__textarea" name="message" placeholder="your message"></textarea>
            
            <button class="forms-one__btn">Lets talk</button>
          </form>
        </div>
      </div>
    </div>
  </div>