
          <div class="forms-second">
            <div class="container forms-second__container">
              <h1 class="forms-second__title">NEWSLETTER</h1>
              <p class="forms-second__content">Get promotions &amp; updates!</p>
    
              <form action="#" method="GET" class="forms-second__form">
                <input type="text" name="newsletter_username" class="forms-second__input" placeholder="your name">
                <input type="email" name="newsletter_email" class="forms-second__input" placeholder="your email">
                <button class="forms-second__btn">subscribe</button>
              </form>
            </div>
          </div>