
<main>
<header>
    <div class="nav-container">
        <nav class="site-navigation">
            <a href="index.html">
                <img class="nav-logo" src="assets/img/logo.png">
            </a>
            <ul class="nav-titles">
                <li class="nav-item"><a class="nav-title" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-title" href="#">About me</a></li>
                <li class="nav-item"><a class="nav-title" href="#">Products</a></li>
                <li class="nav-item"><a class="nav-title" href="#">Contact me</a></li>
                <li class="nav-item"><a class="nav-title" href="#"><img src="assets/img/basket.png"
                            alt="logo"></a></li>
            </ul>
        </nav>
    </div>
</header>