<div class="products">
    <div class="products-container">
        <div class="row row-products">
            <div class="row-item">
                <div class="products-img">
                    <img src="assets/img/one-couch.png" alt="" class="products__img">
                </div>
                <div class="products__titles-content">
                    <h1 class="products__title">Plated Cushion</h1>
                    <p class="products__price">$ 19.99 USD</p>
                </div>
            </div>
            <div class="row-item">
                <div class="products-img">
                    <img src="assets/img/two-couch.png" alt="" class="products__img">
                </div>
                <div class="products__titles-content">
                    <h1 class="products__title">Silver Cushion</h1>
                    <p class="products__price">$ 19.99 USD</p>
                </div>
            </div>
            <div class="row-item">
                <div class="products-img">
                    <img src="assets/img/three-couch.png" alt="" class="products__img">
                </div>
                <div class="products__titles-content">
                    <h1 class="products__title">Deep Blue Cushion</h1>
                    <p class="products__price">$ 19.99 USD</p>
                </div>
            </div>
        </div>
        <div class="row row-products">
            <div class="row-item">
                <div class="products-img">
                    <img src="assets/img/four-couch.png" alt="" class="products__img">
                </div>
                <div class="products__titles-content">
                    <h1 class="products__title">Pink Cushion</h1>
                    <p class="products__price">$ 19.99 USD</p>
                </div>
            </div>
            <div class="row-item">
                <div class="products-img">
                    <img src="assets/img/five-couch.png" alt="" class="products__img">
                </div>
                <div class="products__titles-content">
                    <h1 class="products__title">Black Cushion</h1>
                    <p class="products__price">$ 19.99 USD</p>
                </div>
            </div>
            <div class="row-item">
                <div class="products-img">
                    <img src="assets/img/six-couch.png" alt="" class="products__img">
                </div>
                <div class="products__titles-content">
                    <h1 class="products__title">Green Cushion</h1>
                    <p class="products__price">$ 19.99 USD</p>
                </div>
            </div>
        </div>
    </div>
</div>